/* Variables */

:root {
  --red: #ff0000;
  --blue: #0000ff;
  --teal: #008080;
  --black: #000000;
  --green: #008000;
  --olive: #808000;
  --white: #ffffff;
  --mahogany: #c83737;

  --border: 0.5rem solid var(--black);
}

/* Basic settings */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  border: 1rem solid var(--black);
  overflow: hidden;
}

/* Navigation */

nav {
  height: 10%;
  border-bottom: 1rem solid var(--black);
  background-color: var(--olive);
}

/* Main */

main {
  position: relative;
  height: 90%;
  background-color: var(--green);
}

/* Square */

.square {
  position: absolute;
  top: 12rem;
  left: 2.5rem;
}

.square-style {
  position: absolute;
  background-color: var(--red);
  border: var(--border);
  height: 10rem;
  width: 10rem;
  transform: rotate(45deg);
}

.square__1 {
  top: 0;
  left: 0;
}

.square__2 {
  top: -10rem;
  left: 10rem;
}

/* Equal and circle */

.equal_circle {
  position: absolute;
  top: 10rem;
  left: 40%;
}

.equal-style {
  position: absolute;
  background-color: var(--blue);
  border: var(--border);
  width: 8rem;
  height: 2rem;
}

.equal__1 {
  top: 0;
  left: 0;
}

.equal__2 {
  top: 3rem;
  left: 0;
}

.circle {
  position: absolute;
  top: -1rem;
  left: 10rem;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  border: var(--border);
  background-color: var(--teal);
}

/* Rectangle */

.rectangle {
  position: absolute;
  top: 5rem;
  right: 2rem;
  height: 85%;
  width: 20rem;
  background-color: var(--white);
  border: var(--border);
  text-align: center;
}

.txt {
  text-transform: uppercase;
  font-size: 5rem;
  padding-top: 2rem;
}
